$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1280px,
  xxl: 1400px,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gelasio:ital,wght@1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

$blue: #1c1c5a;

$green: #32cb68;
$grey: #d8d8d8;
$red: #B32318;

$yellow: #ffbf00;

html {
  scroll-behavior: smooth;
}
.bg-yellow {
  background-color: $yellow;
}
.color-yellow {
  color: $yellow;
}

.bg-detalhe {
  background: url(../img/detalhe.png) center center no-repeat;
  background-size: cover;
}
.bg-blue {
  background-color: $blue;
}
.color-blue {
  color: $blue;
}
.bg-red {
  background-color: $red;
}
.color-red {
  color: $red;
}
.color-white {
  color: white;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: relative;
  color: $red;
}
.p-77{
  padding: 77px 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Gelasio", serif;
  font-weight: 600;
  font-style: italic;
}
i {
  font-family: "Gelasio", serif;
}
img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
.btn-geral {
  display: block;
  width: fit-content;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 29px;
  max-width: 100%;
}
.form {
  input,
  select {
    width: 100%;
    margin: 8px 0;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Gelasio", serif;
    font-style: italic;
    padding: 13px 20px;
    background-color: #FAD4B0;
    color: $red;
  }
  .btn-geral {
    background-color: $yellow;
    margin-top: 34px;
    color: $red;
    font-size: 18px;
  }
  ::placeholder {
    color: $red;
  }
}
.selo {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  color: $yellow;
  font-family: "Gelasio", serif;
  font-style: italic;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  font-size: 17px;
}
.etiqueta {
  position: fixed;
  bottom: 165px;
  right: -100px;
  z-index: 10;
  img {
    max-width: 80%;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    background: #25cd64;
    bottom: 0px;
    right: unset;
    padding: 30px 50px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    i {
      padding-right: 15px;
      font-size: 25px;
    }
    img {
      display: none;
    }
  }
}
@import "footer";
@import "header";
@import "home";
